@font-face {
  font-family: mega;
  font-weight: 600;
  src: url(../fonts/MeganoOT-DemiBold.otf) format("opentype")
}

@font-face {
  font-family: mega;
  font-weight: 300;
  src: url(../fonts/MeganoOT-Light.otf) format("opentype")
}

@font-face {
  font-family: mega;
  font-weight: 700;
  src: url(../fonts/MeganoOT-Bold.otf) format("opentype")
}

@font-face {
  font-family: mega;
  font-weight: 500;
  src: url(../fonts/MeganoOT-Medium.otf) format("opentype")
}